#header{
    width: 100%;
    height: 100px;
    margin: 0;
}

#header img{
    margin-top: -70px;
    margin-left: -50px;
    transform: scale(0.3);
}

#header span{
    font-size: 40px;
    color: #005EA7;
    margin-left: -94px;
    float: top;
}

#daohang{
    width: 200px;
    height: 620px;
    margin-left: 170px;
    float: left;
}

#daohang li{
    border: #E3E4E5 1px solid;
}

#daohang2{
    float: top;
    width: 800px;
    margin-left: 370px;
}

#daohang2 ul{
    width: 800px;
}

#biaoge{
    width: 800px;
    height: 580px;
    float: left;
    background-color: #f8f8ff;
    margin-top: -20px;
}

#biaoge table{
    margin-top: 150px;
}

.tableHead{
    background-color: #005EA7;
    color: #ffffff;
}