* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-size: 12px
}

#first {
    width: 100%;
    height: 31px;
    background-color: #E3E4E5
}

#first_1 {
    width: 990px;
    height: 31px;
    margin: auto
}

#first_1_0 {
    width: 83px;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    float: left;
}

#first_1_0 img {
    margin-top: 7px;
    padding-right: 5px;
    float: left;
}

#first_1_0 a {
    margin-top: 8px;
    float: left;
    display: block;
    color: #999999;
}

#first_1_0 a:hover {
    color: #E1251B;
}

#first_1 li {
    float: left;
    list-style: none;
    font-size: 12px;
    line-height: 33px;
    color: #999999
}

#first_1_1 {
    width: 58px;
    height: 31px;
    float: left
}

#first_1_1 li {
    margin-left: 5px;
}

#first_1_1 a {
    width: 58px;
    height: 30px;
    display: block
}

#first_1_1 a:hover li {
    color: #E1251B;
}

.map {
    float: left;
    background-image: url("../images/rr.png");
    width: 14px;
    height: 14px;
    margin-top: 8px
}

#first_1_2 {
    width: 718px;
    height: 30px;
    float: right
}

#first_1_2_1 {
    width: 142px;
    height: 30px;
    padding-left: 8px;
    float: left;
}

#img0 {
    float: right;
    margin-top: 10px;
}

#img0_0 {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

#first_1_2 a {
    display: block;
}

#first_1_2 li {
    margin-right: 5px;
    margin-left: 5px
}

.a4 {
}

.a4 a {
    width: 72px;
    height: 30px;
    display: block;
}

.a4 a:hover {
    color: #E1251B;
}

.a1 {
    color: #FF0000;
}

.a5 {
}

.a5 a {
    width: 48px;
    height: 30px;
    display: block;
}

.a5 a:hover {
    color: #E1251B;
}

.a6 {
}

.a6 a {
    width: 65px;
    height: 30px;
    display: block;
}

.a6 a:hover {
    color: #E1251B;
}

.f1 {
    width: 1px;
    height: 10px;
    background-color: #CCCCCC;
    margin: 11px 5px;
}

.f2 {
    width: 65px;
    height: 30px;
    float: left
}

.b1 {
    float: right;
    background-image: url("../images/b.png");
    width: 12px;
    height: 12px;
    margin-top: 10px
}

#second {
    width: 990px;
    height: 87px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

#second_1 {
    width: 276px;
    height: 50px;
    float: left;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 22px;
}

#second_1 span {
    font-size: 20px;
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 55px;
}

#second_2 {
    width: 480px;
    height: 66px;
    float: right;
}

#second_2 img {
    float: right;
    margin-top: 20px;
}

#second_2 span {
    width: 160px;
    height: 18px;
    float: right;
    display: block;
    text-align: center;
}

#sp1 {
    color: #CCCCCC;
}

#sp2 {
    color: #7ABD54;
}

#sp3 {
    color: #CAECB6;
}

#third {
    width: 100%;
    padding-bottom: 20px;
}

#third_1 {
    width: 990px;
    height: 42px;
    margin: auto;
}

#third_1 span {
    display: block;
    width: 144px;
    height: 42px;
    float: left;
    color: #666666;
    font-size: 16px;
    line-height: 40px;
}

#third_2 {
    width: 948px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 180px;
    border: #E3E4E5 1px solid;
}

#third_2_1 {
    width: 948px;
    height: 40px;
}

#third_2_1 h3 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 40px;
    float: left;
}

#third_2_1 a {
    float: right;
    display: block;
    width: 72px;
    height: 14px;
    color: #005EA7;
    margin-top: 10px;
}

#third_2_1 a:hover {
    color: #E1251B;
}

#third_2_2 {
    width: 908px;
    height: 30px;
    margin: 6px 21px 6px 21px;
}

#third_2_2_1 {
    width: 140px;
    height: 26px;
    float: left;
    border: #FF0000 2px solid;
}

#third_2_2_1 span {
    color: #666666;
    text-align: center;
    line-height: 25px;
    display: block;
    width: 140px;
    height: 26px;
}

#third_2_2_1 img {
    float: right;
    margin-top: -12px;
}

#third_2_2_2 {
    width: 520px;
    height: 30px;
    float: left;
    color: #666666;
}

.sp4 {
    display: block;
    height: 30px;
    float: left;
    margin-left: 10px;
    line-height: 30px;
}

#sp5 {
    display: block;
    width: 48px;
    height: 20px;
    background-color: #999999;
    margin: 5px 10px;
    padding: 0px 3px;
    color: #ffffff;
    float: left;
    line-height: 20px;
}

#third_2_3 {
    width: 918px;
    height: 18px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#sp6 {
    display: block;
    width: 48px;
    height: 18px;
    background-color: #E4393C;
    padding: 0px 4px;
    color: #ffffff;
    float: left;
    border-radius: 4px;
}

#sp7 {
    display: block;
    margin-top: 2px;
    height: 14px;
    color: #E4393C;
    margin-left: 10px;
    float: left;
}

#third_2_3 a {
    float: left;
    display: block;
    width: 24px;
    height: 14px;
    color: #005EA7;
    margin-top: 2px;
    margin-left: 15px;
}

#third_2_3 a:hover {
    color: #E1251B;
}

.x1 {
    width: 948px;
    height: 1px;
    background-color: #E3E4E5;
    float: left;
    margin-bottom: 10px;
}

#third_2_4 {
    width: 948px;
    height: 40px;
    color: #333333;
}

#third_2_4 h3 {
    display: block;
    width: 56px;
    height: 40px;
    float: left;
    font-size: 14px;
    font-weight: bolder;
    color: #333333;
    line-height: 40px;
}

#third_2_5 {
    width: 908px;
    height: 30px;
    padding: 0 20px 10px;
    float: left;
    margin-bottom: 10px;
}

#third_2_5_1 {
    width: 48px;
    height: 18px;
    padding: 5px 24px;
    background-color: #F3F3F3;
    float: left;
    border: #E3E4E5 1px solid;
    color: #AAAAAA;
    margin-right: 0;
}

#third_2_5_2 {
    width: 48px;
    height: 18px;
    padding: 4px 23px;
    border: #FF0000 2px solid;
    color: #666666;
    float: left;
    margin-left: 10px;
}

#third_2_5_2 img {
    float: right;
    margin-right: -23px;
    margin-top: 10px;
}

#third_2_5_2 span {
    float: left;
    display: block;
    width: 12px;
    height: 18px;
    padding: 0 2px;
    color: #ffffff;
    background-color: #E4393C;
    margin-left: -20px;
}

#third_2_5_3 {
    width: 38px;
    height: 18px;
    padding: 5px 12px;
    color: #666666;
    float: left;
    margin-left: 10px;
}

#third_2_5_3 b {
    margin-left: 2px;
}

#third_2_6 {
    width: 948px;
    height: 40px;
}

#third_2_6 h3 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 40px;
    float: left;
}

#third_2_6 a {
    float: right;
    display: block;
    width: 84px;
    height: 14px;
    color: #005EA7;
    margin-top: 10px;
}

#third_2_6 a:hover {
    color: #E1251B;
}

#a1 {
    display: block;
    width: 81px;
    height: 20px;
    float: right;
}

#third_2_6 img {
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

#third_2_7 {
    width: 948px;
    color: #666666;
    float: left;
    margin-bottom: 20px;
    background-color: #F3FBFE;
}

#third_2_7_1 {
    width: 302px;
    padding: 10px 10px 10px 20px;
    background-color: #F3F3F3;
    float: left;
}

#third_2_7_1 h4 {
    display: block;
    width: 300px;
    height: 18px;
    font-size: 12px;
    font-weight: bolder;
}

.third_2_7_1_1 {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-right: 0;
    padding: 4px 0;
    text-align: center;
    border: #FF0000 2px solid;
}

#third_2_7_1 img {
    float: right;
    margin-top: -12px;
    margin-right: 5px;
}

#third_2_7_1_2 {
    width: 300px;
    height: 23px;
    padding: 5px 0;
    margin-top: 20px;
    float: left;
    line-height: 25px;
}

.x3 {
    height: 1px;
    background-color: #E3E4E5;
}

#third_2_7_1_3 {
    width: 300px;
    height: 73px;
    padding: 5px 0;
    float: left;
}

#third_2_7_1_3_1 {
    width: 300px;
    height: 23px;
    margin-bottom: 5px;
}

#third_2_7_1_3_1 input {
    float: left;
    margin: 3px 5px 3px 4px;
}

#third_2_7_1_3_1 span {
    margin-top: 3px;
    margin-left: 10px;
    float: left;
    font-size: 12px;
}

.sp11 {
    color: #E4393C;
}

#third_2_7_2 {
    width: 616px;
    padding: 10px 0;
    margin: 0;
    float: right;
}

#third_2_7_2_1 {
    width: 576px;
    height: 24px;
    padding: 0 20px;
    color: #666666;
    font-weight: bolder;
    line-height: 25px;
}

#third_2_7_2_2 {
    width: 576px;
    height: 93px;
    padding: 10px 20px;
}

#third_2_7_2_2 img {
    margin-right: 10px;
    float: left;
}

#third_2_7_2_2_1 {
    width: 484px;
    height: 46px;
    float: left;
}

#third_2_7_2_2_1 a {
    display: block;
    width: 240px;
    height: 46px;
    line-height: 20px;
    float: left;
}

#third_2_7_2_2_2 {
    width: 100px;
    height: 18px;
    float: left;
    color: #E4393C;
    text-align: right;
    font-weight: bolder;
}

#third_2_7_2_2_3 {
    width: 70px;
    height: 18px;
    float: left;
    color: #666666;
    text-align: right;
}

.third_2_7_2_2_4 {
    width: 58px;
    height: 18px;
    float: left;
    color: #666666;
    text-align: right;
}

.third_2_7_2_2_5 {
    height: 18px;
    float: left;
}

.third_2_7_2_2_5 span {
    font-weight: bolder;
}

#third_2_7_2_2_6 {
    width: 484px;
    height: 20px;
    padding-left: 92px;
    margin-top: 73px;
    color: #6679B3;
}

#third_2_7_2_2_6 img {
    margin-right: 5px;
}

#third_2_7_2_3 {
    width: 576px;
    height: 36px;
    padding: 0 20px;
    margin-top: 10px;
    float: bottom;
}

#third_2_7_2_3 span {
    display: block;
    width: 29px;
    height: 22px;
    margin-top: 7px;
    float: left;
}

#third_2_7_2_3 textarea {
    width: 500px;
    height: 22px;
    padding: 3px 5px;
    border: #E3E4E5 1px solid;
}

#third_2_8 {
    width: 948px;
    height: 40px;
    float: left;
}

#third_2_8 h3 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 40px;
    float: left;
}

#third_2_8 span {
    display: block;
    width: 293px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px 10px;
    border: #E3E4E5 1px solid;
    float: left;
}

#third_2_9 {
    width: 908px;
    height: 18px;
    float: left;
    padding: 10px 20px;
}

#third_2_9 a {
    color: #005EA7;
}

#third_2_9 a:hover {
    color: #E1251B;
}

#third_2_10 {
    width: 948px;
    height: 40px;
    float: left;
}

#third_2_10 h3 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 40px;
    float: left;
}

#third_2_10 img {
    margin-top: 16px;
    margin-left: 5px;
    float: left;
}

#third_3 {
    width: 970px;
    height: 58px;
    float: right;
    margin-right: 190px;
    padding: 20px 20px 10px 0;
}

#third_3 ul {
    width: 300px;
    height: 58px;
    float: right;
}

#third_3 li {
    list-style: none;
}

#third_3_1 {
    width: 300px;
    height: 24px;
    margin-bottom: 5px;
}

#third_3_1_1 {
    width: 100px;
    height: 24px;
    text-align: right;
    line-height: 25px;
    float: right;
}

#third_3_1 span {
    display: block;
    width: 180px;
    height: 24px;
    line-height: 25px;
    text-align: right;
    margin-right: 20px;
}

#third_3_2 {
    width: 300px;
    height: 24px;
    margin-bottom: 5px;
}

#third_3_2_1 {
    width: 100px;
    height: 24px;
    text-align: right;
    line-height: 25px;
    float: right;
    color: #FF6600;
}

#third_3_2_1 img {
    margin-right: 5px;
    margin-top: 5px;
}

#third_3_2 span {
    display: block;
    width: 180px;
    height: 24px;
    line-height: 25px;
    text-align: right;
    margin-right: 20px;
}

#third_4 {
    width: 980px;
    float: left;
    margin-left: 180px;
    padding: 15px 10px 15px 0;
    background-color: #f4f4f4;
}

#third_4_1 {
    width: 970px;
    height: 25px;
    float: left;
}

#sp12 {
    display: block;
    width: 122px;
    height: 25px;
    float: right;
    font-size: 18px;
    color: #E4393C;
    text-align: right;
    font-weight: bolder;
}

#sp13 {
    color: #666666;
    float: right;
    margin-top: 5px;
}

#third_4_2 {
    width: 970px;
    height: 25px;
    float: left;
    color: #999999;
}

#third_4_2 span {
    margin-top: 3px;
    float: right;
}

.stl {
    margin-right: 20px;
}

#third_5 {
    width: 950px;
    height: 36px;
    float: right;
    margin-right: 200px;
    padding: 7px 20px;
    margin-bottom: 30px;
}

#sub {
    width: 135px;
    height: 36px;
    color: #ffffff;
    background-color: #FF0000;
    float: right;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 3px;
}

#four {
    position: fixed;
    width: 38px;
    height: 85px;
    right: 141px;
    bottom: 50px;
    padding-top: 5px;
}

#a2 {
    display: block;
    width: 31px;
    height: 33px;
    padding: 5px 0 0 7px;
    background-color: #AAAAAA;
    color: #ffffff;
    line-height: 14px;
}

#a3 {
    display: block;
    width: 31px;
    height: 33px;
    padding: 5px 0 0 7px;
    background-color: #E3E4E5;
    margin-top: 5px;
}
