body,p,ul,ol,h1,h2,h3,h4,h5,h6{padding: 0; margin: 0}
body{background-color: white; font-size:12px}
#top{height: 130px; width: 1000px;  margin: auto; background-image: url("../images/h_bg.jpg")}
#logo{height: 96px; width: 280px; float: left; background-image: url("../images/logo.jpg")}
#menu{height: 39px; width: 580px; float: right}
#hello{height: 33px; width: 580px; float: right}
#hi{height: 24px; width: 400px; float: right}
#nav{height: 34px; width: 100%; clear: both}
#menu ul{margin-left: 140px; margin-top: 10px}
#menu li{float: left; list-style: none; line-height: 25px; margin-right: 10px}
.menu1{background-image: url("../images/icon.gif"); height: 25px; width: 25px}
.menu2{background-position: -27px 0}
.menu3{background-position: -81px 0}
.menu4{background-position: -108px 0}
#nav ul{margin-left: 27px; margin-top: 30px}
#nav li{float: left; list-style: none; line-height: 30px; margin-right: 14px; font-size: 17px;}
#nav a{width: 70px; height: 30px; display: block;text-align: center; line-height: 30px}
#nav a:hover{url("../images/nav_bg.png")}